*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1
{
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
}
p
{
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: large;
}
body
{
    background: #c4dafa;
    justify-content: center;
}
.box-videos{
    width: 650px;
    height: 450px;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
.container-vid{
display: inline;
justify-content: center;
}